# Dependencies
node_modules/

# Build files
dist/
build/

# Local environment files
.env
.env.local

# System files
.DS_Store
Thumbs.db

# Jekyll
_site/
.sass-cache/
.jekyll-cache/
.jekyll-metadata
.bundle/
vendor/

# Ruby
Gemfile.lock

# System
*.log
